{{!< default}}
<div class="gh-page">
    <div class="gh-container">

        <div class="gh-postfeed">
        {{#foreach posts}}

              <section class="post-content">
                {{content}}
                <span class="gh-post-meta">
                      <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                  </span>
              </section>


        {{/foreach}}
        </div>

            <div class="gh-pagination">
                {{pagination}}
            </div>
    </div>
</div>
